# --- General options --- #
# To run in jekyll: bundle exec jekyll serve
# and go to http://127.0.0.1:4000/

# Name of website
title: Rivers & Ranids
bigimg: "/img/20150912_shallnotpass.jpg"

# Short description of your site
url: "http://ryanpeek.github.io"
baseurl: ""
description: A blog about Rivers (and Frogs)!

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  About Me:
    - Quick Bio: "aboutme"
    - CV: "cv"
    - Archives: "tags"
  Research:
    - Rana boylii Research: "flexdash_rabo.html"
    - RADSeq/RAPTURE Pipeline: "https://ryanpeek.github.io/radseq"
    - Sierra Rivers Monitoring: "https://watershed.ucdavis.edu/project/long-term-river-monitoring"
    - River Time-Lapse: "https://vimeo.com/164154774"
    - Meadows: "http://meadows.ucdavis.edu"
    - Presentations: "presentations"
  Shiny Apps:
    - Thermohydrographs: "http://shiny.cws.ucdavis.edu/shiny/rapeek/thermohydrographs/"
    - Humboldt NWR Climate: "http://shiny.cws.ucdavis.edu/shiny/rapeek/Humboldt_GCM/"
    - Tadpole Gosner Staging: "http://shiny.cws.ucdavis.edu/shiny/rapeek/Gosner_photos/"
  Resources:
    - R-DAVIS: "https://gge-ucd.github.io/R-DAVIS/"
    - Mapping in R: "https://ryanpeek.github.io/2018_river-rally-Rmapping-workshop/index.html"
    - Davis R Users Group: "https://d-rug.github.io/"
    - AggieBrickyard: "https://aggiebrickyard.github.io/"
    - Data Carpentry: "http://www.datacarpentry.org/"

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "/img/P1080821.JPG"

# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
# title-img: /path/to/image

#----Background Color/Image Options----#

navbar-col: "#F5F5F5"
navbar-text-col: "#404040"
navbar-children-col: "#F5F5F5"
page-col: "#FFFFFF"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#F5F5F5"
footer-text-col: "#777777"
footer-link-col: "#404040"

# Alternatively, the navbar, footer, and page background can be set to use background images
# instead of colour

# navbar-img: "/img/bgimage.png"
# footer-img: "/img/bgimage.png"
# page-img: "/img/bgimage.png"


# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author: 
  name: Ryan Peek

# You can reorder the items to define the link order.
# If you want to add a new link that isn't here, you'll need to also edit the file _data/SocialNetworks.yml
social-network-links:
  rss: true
  email: "rapeek@ucdavis.edu"
  #facebook: yourname  # eg. daattali
  github: ryanpeek
  twitter: riverpeek
  #linkedin: yourlink  # eg. "pub/dean-attali/8/946/143"
  #stackoverflow: yourlink  # eg. "3943160/daattali"

# Select which links to show in the footer
share-links-active:
  rss: true
  facebook: false
  email: true
  twitter: true
  github: true
  #linkedin: false
  #stackoverflow: false

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "ryanpeek.github.io"

# --- Web Statistics Section --- #

# Fill in your Google Analytics gtag.js ID to track your website using gtag
#gtag:

# Fill in your Google Analytics ID to track your website using GA
google_analytics: "UA-87260839-1"
# old through gmail "UA-80552998-1""

# Google Tag Manager ID
#gtm: ""

# Matomo (aka Piwik) Web statistics
# Uncomment the following section to enable Matomo. The opt-out parameter controls
# whether or not you want to allow users to opt out of tracking.

#matomo:
#  site_id: "9"
#  uri: "demo.wiki.pro"
#  opt-out: true

#--- Comments ----#

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus: "ryanpeek-github-io"

#----- Misc ------#

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Vancouver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags index page and make tags on each post clickable
link-tags: true

# Exclude these files from production site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  - Vagrantfile
  - Dockerfile
  - CHANGELOG.md

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap

# Beautiful Jekyll / Dean Attali
# 2fc73a3a967e97599c9763d05e564189
